on:
  push:
    branches:
      - master

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          release-type: node
          token: ${{ secrets.STEP_GITHUB_ACTION_TOKEN }}

  publish-release:
    permissions:
      contents: read
      id-token: write

    environment:
      name: prod

    needs: release-please
    runs-on: ubuntu-latest
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - name: Build and test
        uses: linz/action-typescript@v3
        with:
          node-version: '20.x'

      - name: Publish to NPM
        run: npm publish --provenance --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
